<div class="list-show-background">

  <h1>So you want to add a list?</h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>

  <%= link_to "back to the main list", lists_path, class: "btn btn-primary" %>

</div>

