<div class="list-show-background">

<h1>This is <%=@list.name%></h1>

<% @list.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<h2>What details do you need?</h2>



<h3>These are the bookmarks: <%@bookmark.each do |info| %></h3>
<p><%= info["comment"] %></p>
<p><%= link_to "delete this bookmark", bookmark_path(info["id"]), method: :delete %></p>
<% end %><br>

<%= link_to "delete this list", list_path(@list.id), class: "btn btn-danger", method: :delete%><br>
<%= link_to "back to the main list", lists_path, class: "btn btn-primary" %><br>
<%= link_to "Add a bookmark", new_list_bookmark_path(@list.id), class: "btn btn-primary" %>

</div>


